
CREATE DATABASE [BusTour]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusTour', FILENAME = N'D:\EBook\SEM 6\BusTour.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BusTour_log', FILENAME = N'D:\EBook\SEM 6\BusTour_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusTour].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusTour]
GO
/****** Object:  Table [dbo].[BookDetail]    Script Date: 3/3/2018 1:15:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookDetail](
	[cusID] [int] NOT NULL,
	[tourID] [varchar](50) NOT NULL,
	[cusName] [varchar](50) NULL,
	[cusPhone] [varchar](50) NULL,
	[bookDate] [date] NULL,
	[price] [float] NULL,
	[bookSeat] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookTime] [varchar](50) NULL,
 CONSTRAINT [PK_BookDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/3/2018 1:15:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[cusID] [int] IDENTITY(1,1) NOT NULL,
	[cusName] [varchar](50) NULL,
	[cusPhone] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[cusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/3/2018 1:15:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[role] [varchar](50) NULL,
	[fullname] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 3/3/2018 1:15:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tour](
	[tourID] [varchar](50) NOT NULL,
	[tourFrom] [varchar](50) NULL,
	[tourTo] [varchar](50) NULL,
	[tourDate] [date] NULL,
	[tourTime] [varchar](50) NULL,
	[seat] [int] NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BookDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookDetail_Customer] FOREIGN KEY([cusID])
REFERENCES [dbo].[Customer] ([cusID])
GO
ALTER TABLE [dbo].[BookDetail] CHECK CONSTRAINT [FK_BookDetail_Customer]
GO
ALTER TABLE [dbo].[BookDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookDetail_Tour] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[BookDetail] CHECK CONSTRAINT [FK_BookDetail_Tour]
GO
USE [master]
GO
